# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# All env variables
.env

.build/

dist/

*.exe
*.test
*.prof
gin-bin

_book
vendor
nod
